#aboutme {
    position: relative;
    z-index: 2;
    top: 60px;
    width: 75%;
    height: 600px;
    background-color: #A8AAE7;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#cardContainer {
    margin: 60px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.card {
    width: 80%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.flower {
    position: fixed;
    top: 65px;
    right: -540px;
}

@media only screen and (max-width: 575px){  
    #cardContainer {
        margin: 60px 15px 0 15px;
        padding: 20px;
        flex-direction: column;
    }

    .flower {
        width: 300px;
        height: 300px;
        position: fixed;
        top: 130px;
        right: -275px;
    }
}